[submodule "src/mooncordplugins/translatePlus"]
	path = src/mooncordplugins/translatePlus
	url = https://github.com/ForkPrince/TranslatePlus.git
[submodule "src/mooncordplugins/gensokyoRadio.desktop"]
	path = src/mooncordplugins/gensokyoRadio.desktop
	url = https://github.com/ForkPrince/GensokyoRadioRPC.git
[submodule "src/mooncordplugins/keywordNotify"]
	path = src/mooncordplugins/keywordNotify
	url = https://github.com/camila314/vencord-KeywordNotify
[submodule "src/mooncordplugins/replaceActivityTypes"]
	path = src/mooncordplugins/replaceActivityTypes
	url = https://github.com/nyakowint/replaceActivityTypes.git
