[submodule "src/mooncordplugins/translatePlus"]
	path = src/mooncordplugins/translatePlus
	url = https://github.com/ForkPrince/TranslatePlus.git
[submodule "src/mooncordplugins/gensokyoRadio.desktop"]
	path = src/mooncordplugins/gensokyoRadio.desktop
	url = https://github.com/ForkPrince/GensokyoRadioRPC.git
[submodule "src/mooncordplugins/keywordNotify"]
	path = src/mooncordplugins/keywordNotify
	url = https://github.com/camila314/vencord-KeywordNotify
[submodule "src/mooncordplugins/replaceActivityTypes"]
	path = src/mooncordplugins/replaceActivityTypes
	url = https://github.com/nyakowint/replaceActivityTypes.git
[submodule "src/mooncordplugins/grammarNazi"]
	path = src/mooncordplugins/grammarNazi
	url = https://github.com/wont-stream/vencord-grammar-nazi.git
[submodule "src/mooncordplugins/fakeProfile"]
	path = src/mooncordplugins/fakeProfile
	url = https://github.com/sampathgujarathi/fakeProfile.git
[submodule "src/mooncordplugins/fakeVoiceOptions"]
	path = src/mooncordplugins/fakeVoiceOptions
	url = https://github.com/eightcon/FakeVoiceOptions.git
[submodule "src/mooncordplugins/newPluginsManager"]
	path = src/mooncordplugins/newPluginsManager
	url = https://github.com/Sqaaakoi/vc-newPluginsManager.git
[submodule "src/mooncordplugins/customSounds"]
	path = src/mooncordplugins/customSounds
	url = https://github.com/ScattrdBlade/customSounds
